{{ define "start" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>{{ .Title }}</title>
</head>
<body>
    <div class="title">
        <h1 class="titlesentence" style="font-size:36px; color: snow; text-align: left;">{{ .Title }}.Manupilation</h1>
    </div>

    <div class="prepare_reference">
        <div class="inputline">
            1. Select source
            <input type="file" name="src_upload" id="src_upload">
        </div>
        <div class="inputreference">
            2. Select reference
            <input type="file" name="ref_upload" id="ref_upload">
        </div>
    </div>

    <div class="images" style="text-align: center;">
        <image src="/static/first.png" width="384" height="384" class="src_result"></image>
        <image src="/static/first.png" width="384" height="384" class="ref_result"></image>
        <button class="manupilate">3. Convert!</button>
        <image src="/static/first.png" width="384" height="384" class="y_result"></image>
    </div>

    <script type="text/javascript" src="/static/render.js"></script>
</body>
</html>
{{ end }}